/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIPOGRAFÍA GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333;
}

/* HEADER */
header {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid white;
}

/* MENÚ */
nav {
  background-color: blue;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTENIDO */
main {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

/* TÍTULOS */
h2 {
  color: #004080;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

/* FORMACIONES */
.formaciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #fafafa;
  text-align: center;
}

.card p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* BOTONES */
.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #004080;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.btn:hover {
  background-color: #002d5a;
}

/* LISTAS */
ul {
  margin-left: 20px;
  margin-top: 10px;
}

/* FORMULARIO */
form {
  margin-top: 20px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #004080;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #002d5a;
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.logo {
  width: 50%;
  height: auto;
}
iframe {
  display: block;
  margin: 20px auto;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
}

.campus-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
}

.campus-btn {
  font-size: 18px;
  padding: 15px;
}


